certifi==2021.10.8
chardet==3.0.4
click==8.0.3
dnspython==2.1.0
idna==3.3
mysql-connector-python==8.0.27
progress==1.6
protobuf==4.21.5
requests==2.26.0
six==1.16.0
urllib3==1.26.7
virtualenv==20.9.0
wcwidth==0.2.5
